{% extends 'base_generic.html' %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <div>
      <div>
        <h1>Личные данные</h1>
      </div>
      <div>
              {% if errors %}
          {% for error in errors.profile_data %}
            <p>
              {{ error }}
            </p>
          {% endfor %}
        {% endif %}
        <label>
          Фамилия
          <input
                  name="last_name"
                  value="{{ user.last_name }}"
          />
        </label>
        <label>
          Имя
          <input
                  name="name"
                  value="{{ user.first_name }}"
          />
        </label>

        <label>
          Отчество
          <input
                  name="middle_name"
                  value="{{ user.profile.surname }}"
          />
        </label>
        <label>
          Пол
          <input type="radio" name="gender" value="M" {% if user.profile.gender == "М" %}
                 checked {% endif %}> М
          <input type="radio" name="gender" value="Ж" {% if user.profile.gender == "Ж" %}
                 checked {% endif %}> Ж<br>
        </label>
        <label>
          День рождения
          <input
                  name="birthday"
                  value="{{ user.profile.birthday }}"
          />
        </label>
      </div>
      <div>
        <h1>Контакты</h1>
      </div>
      <div>
        <label>
          Номер телефона
          <input
                  name="phone_number"
                  value="{{ user.profile.phone }}"
          />
        </label>
        {% if errors %}
          {% for error in errors.email %}
            <p>
              {{ error }}
            </p>
          {% endfor %}
        {% endif %}
        <label>
          Электронная почта
          <input
                  name="email"
                  value="{{ user.email }}"
          />
        </label>
      </div>
    </div>
    <div>
      <h1>Смена пароля</h1>
    </div>
    <div>
      {% if errors %}
        {% for error in errors.password %}
          <p>
            {{ error }}
          </p>
        {% endfor %}
      {% endif %}
      <label>
        старый пароль
        <input type="password"
               name="old_password"
               value=""
        />
      </label>
      <label>
        Новый пароль
        <input type="password"
               name="new_password"
               value=""
        />
      </label>
      <label>
        Повторить новый пароль
        <input type="password"
               name="repeat_new_password"
               value=""
        />
      </label>
    </div>
    <button class="" type="submit" value="apply">Сохранить</button>
  </form>
{% endblock %}
