{% extends "base_generic.html" %}

{% block content %}
  <h1>Your shopping cart</h1>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Название</th>
      <th scope="col">Количество</th>
      <th scope="col">Цена</th>

    </tr>
    </thead>
    <tbody>
    {% for item in cart %}
      {% with product=item.product %}
        <tr>
          <td><img class="item__img" src="{{ product.image.url }}" alt=""></a></td>
          <td>{{ product.name }}</td>
          <td>{{ item.quantity }}</td>
          <td class="num">{%  widthratio item.quantity 1 item.product.price%}  UAH</td>
          <td><a href="{% url "cart:cart_remove" product.id %}">Удалить</a></td>
        </tr>
      {% endwith %}
    {% endfor %}
    <tr class="total">
      <td class="num">На сумму</td>
      <td colspan="2"></td>
      <td class="num">{{ cart_info.get_total_price }}UAH</td>
    </tr>
    </tbody>
  </table>
{% endblock %}