
.center-wrapper {
display: block;
}

.catalog {

}

.catalog-grid {

    display: flex;
    flex-wrap: wrap;

}

.catalog-grid__cell {
    width: 20%;
    margin: 0 .3125rem .625rem;
    text-align: center;
}

.goods-tile {

}
.catalog-grid__img {
 width: 100%;
}



