* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #f8f8f8 !important;
    font-family: 'Fira Sans', sans-serif;
}

header {
    z-index: 2;
    position: relative;
}

body.overlay:before {
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(68, 68, 68, 0.85);
    position: absolute;
    z-index: 1;
}

ul li {
    list-style-type: none;
}

.block_white {
    background: #fff;
}

.block_shadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

/* header */
.header-top-line {


}
.header-bottom-line {

}
.login-menu {
    display: flex;
    justify-content: flex-end;
}

.header-dropdown-menu {
    background-color: #6e9fec;
    border-radius: 2px 0 0 2px;
    box-shadow: 0 0 2px 0 rgba(51,51,51,.05), 0 1px 4px 0 rgba(51,51,51,.15);
    font-size: 18px;
    color: #fff;
}

#dropdown-menu {
    width: auto;
}

.search-line {
    display: block;
}

#menu-section {

}

.menu__list {

}

#side-nav {

}

.side-nav-hide {
    display: none;
}

.side-nav__list {
    width: auto;
}

.side-nav__list a {
    text-decoration: none;
    color: #000;
}

.side-nav__item {
    padding-bottom: 10px;
    position: relative;
}

.side-nav__link {
    font-size: 18px;
    padding: 5px;

}

.sub-side-nav {
    list-style: none;
    font-size: 15px;
    display: none;
}

.sub-side-nav__link {
    display: block;
}

.sub-side-nav__item {

}

.sub-side-nav__item:last-child {
    border-bottom: none;
}

.sub-side-nav__link {
    padding: 5px 12px;
    display: block;
}

.sub-side-nav__item:hover {

}

.sub-side-nav__item:first-child {
    margin-top: 10px;
    position: relative;
}

.sub-side-nav__item:first-child:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;

    left: 10px;
    top: -10px;
}

/* main body */
.center-wrapper {
    display: block;
    position: relative;
    padding: 0;
}

.catalog {
    position: relative;
}

.catalog-grid {
    margin-left: 0;
}

.catalog-grid__cell {
    position: relative;
    padding-left: 0;
    padding-bottom: 10px;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    outline: 1px solid #d2d2d2;
    border: 0;
    background: #fff;
    height: 100%;
}

.item__wrapper {

}

.item__img-wrapper {
    position: relative;
    align-self: center;
}


.item__img {
    width: auto;
    height: 216px;
}

.item__heading {
    padding: 5px 15px;
    flex: 1 0 auto;
}

.item__bottom {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.item__price {

}

.item__button {

}

/* login page*/

.wrapper-sm {
    position: relative;
    margin: 0 auto;
}