* {
    margin: 0;
    padding: 0;

}
body {
    background-color: #f8f8f8 !important;
}

ul li {
    list-style-type: none;
}

.main-menu {
    background: #fff;
}
.center-wrapper {
    display: block;
    position: relative;
}

.catalog {
    background: #fff;
}

.catalog-grid {

}

.catalog-grid__cell {
    background: #fff;
    position: relative;
    padding: 15px 15px 30px;
    outline: 1px solid #d2d2d2;
    border: 0;
}

.goods-tile {
    position: relative;
    width: 100%;
}

.goods-tile__picture {
    width: 100%;
}

.img-product {
    width: 100%;
}

.goods-tile__heading {
    display: block;
}

