{% extends "base_generic.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
  <table class="table">
    <tbody>
    {% for item in orders_list %}
      <tr>
      <td><a href="{% url "order:order_detail" item.id %}">#{{ item }}</a></td>
      <td>{{ item.paid }}</td>
      <td>
      {% for item_purchase in item.purchase_set.select_related %}
        <a href={{ item_purchase.product.get_absolute_url }}>{{item_purchase.product}}</a><br>
      {% endfor %}
      </td>
      <td>{{ item.created}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% for order_item in order %}
  <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; border-top-width: 1px; border-top-color: #eee; border-top-style: solid; margin: 0; padding: 5px 0;" valign="top">
    {{ order_item }}</td>
{% endfor %}
 <td class="alignright" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-top-width: 1px; border-top-color: #eee; border-top-style: solid; margin: 0; padding: 5px 0;" align="right" valign="top">$ 19.99</td>
                            </tr><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; border-top-width: 1px; border-top-color: #eee; border-top-style: solid; margin: 0; padding: 5px 0;" valign="top">Service 2</td>
                              <td class="alignright" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-top-width: 1px; border-top-color: #eee; border-top-style: solid; margin: 0; padding: 5px 0;" align="right" valign="top">$ 9.99</td>
                            </tr><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; border-top-width: 1px; border-top-color: #eee; border-top-style: solid; margin: 0; padding: 5px 0;" valign="top">Service 3</td>
                              <td cl