{% extends "base_generic.html" %}
{% block title %}Checkout{% endblock %}
{% block content %}
  <h1>Замовлення #{{ order_id }}</h1>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Цена</th>
      <th scope="col">Количество</th>
      <th scope="col">Всего</th>
    </tr>
    </thead>
    <tbody>
    {% for item in purchase %}
      <tr>
        <td>1</td>
        <td>{{ item.product.id }}</td>
        <td><a href={{ item.product.get_absolute_url }}>{{ item.product.name }}</a></td>
        <td>{{ item.product.price }}</td>
        <td>{{ item.quantity }}</td>
        <td class="num">{% widthratio item.quantity 1 item.product.price %} UAH</td>
      </tr>
    {% endfor %}
    <tr class="total">
      <td class="num">На сумму</td>
      <td colspan="2"></td>
      <td class="num">{{ total_price }}UAH</td>
    </tr>
    </tbody>
  </table>
{% endblock %}