{% extends "base_generic.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
  <table class="table">
    <tbody>
    {% for item in orders_list %}
      <tr>
      <td><a href="{% url "order:order_detail" item.id %}">#{{ item }}</a></td>
      <td>{{ item.paid }}</td>
      <td>
      {% for item_purchase in item.purchase_set.select_related %}
        <a href={{ item_purchase.product.get_absolute_url }}>{{item_purchase.product}}</a><br>
      {% endfor %}
      </td>
      <td>{{ item.created}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}