{% extends "base_generic.html" %}
{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Компоненты</a></li>
    <li class="breadcrumb-item"><a href="#">pdoTools</a></li>
    <li class="breadcrumb-item active">Парсер</li>
  </ol>
{% endblock %}
{% block content %}
  {% if magazine %}
    <div class="catalog  block_white">
      <div class="row product">
        <div class="col-12 col-md-6 product__picture-box">
          <div class="picture-box">
            <img class="picture-box__image" src="{{ magazine.image.url }}" alt="">
          </div>
        </div>
        <div class="col-12 col-md-6 product__info-box">
          <div class="info-box__header">
            <p>{{ magazine.name }}</p>
            <p>Оценка: {{ magazine.get_rating }}</p>
            {% if magazine.get_discount > 0 %}
              <p>{{ magazine.price }} UAH</p>
              <p>{{ magazine.get_discount }}%</p>
              <p>{{ magazine.get_discounted_price }} UAH</p>
            {% else %}
              <p>{{ magazine.price }} UAH</p>
            {% endif %}
            <form action="{% url "cart:cart_add" magazine.id %}" method="post">
              {% csrf_token %}
              <button class="info-box__button" type="submit" value="Add to cart">В корзину</button>
            </form>
          </div>
          <div class="info-box__body">
            <h3>Описание</h3>
            <p> Издательство: {{ magazine.publisher }}</p>
            <p>Жанр:
              {% for genre in magazine.genre.all %}
                {{ genre }}
              {% endfor %}
            </p>
            <p> Год издания: {{ magazine.pub_year }} </p>
            <p> Количество страниц: {{ magazine.pages }}</p>
            <p> Твердый переплёт: {{ magazine.hard_cover }}</p>
            <p> Размер: {{ magazine.size }}</p>
          </div>
          <div class="info-box__bottom">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <div class="product-comments">
        <form action="{% url "reviews:product_reviews" magazine.slug %}?next={{ request.path|urlencode }}"
              method="post">
          {% csrf_token %}
          <div class="create-buttons">
            <button class="" type="submit" value="Add reviews">Оставить отзыв</button>
          </div>
        </form>
        <div>
          Отзывы({{ quantity_reviews }})
        </div>
        <ul class="product-comments__list">
          {% for review in reviews_list %}
            <li class="product-comments__list-item">
              <div class="comment">
                <div class="comment__inner">
                  <div class="comment__header">
                    <div class="comment__author">
                      {{ review.user.first_name }}
                      {{ review.user.last_name }}
                    </div>
                    <div class="comment__data">
                      {{ review.pub_date }}
                    </div>
                  </div>
                  <div class="comment__body">
                    <div class="class_rating">
                      Оценка: {{ review.rating }}
                    </div>
                    <div class="comment__text">
                      {{ review.description }}
                    </div>
                  </div>
                  <div class="comment__counter">
                    Коментарии({{ review.get_comments_counter }})
                  </div>
                  <ul class="comments__list">
                    {% for comment_item in review.reviewcomment_set.all %}
                      <li class="comment">
                        <div class="comment__inner">
                          <div class="comment__header">
                            <div class="comment__author">
                              {{ comment_item.user.first_name }}
                              {{ comment_item.user.last_name }}
                            </div>
                            <div class="comment__data">
                              {{ comment_item.pub_date }}
                            </div>
                          </div>
                          <div class="comment__body">
                            <div class="comment__text">
                              {{ comment_item.comment }}
                            </div>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                  <div class="comment__footer">
                    {% if user.is_authenticated %}
                      <form action="{% url "store:magazine_detail" magazine.slug %}" method="post">
                        {% csrf_token %}
                        {{ comment_form }}
                        <button class="" type="submit" name="reviews" value="{{ review.id }}">
                          Оставить коментарий
                        </button>
                      </form>
                    {% endif %}
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">
    $("#dropdown-menu").on("click", () => {
        $("#side-nav").slideToggle(200);
        //     $('body').toggleClass('overlay');
    });
</script>
{% endblock %}