{% extends "base_generic.html" %}
{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Компоненты</a></li>
    <li class="breadcrumb-item"><a href="#">pdoTools</a></li>
    <li class="breadcrumb-item active">Парсер</li>
  </ol>
{% endblock %}
{% block content %}
  {% if magazine %}
    <div class="catalog  block_white">
      <div class="row product">
        <div class="col-12 col-md-6 product__picture-box">
          <div class="picture-box">
            <img class="picture-box__image" src="{{ magazine.image.url }}" alt="">
          </div>
        </div>
        <div class="col-12 col-md-6 product__info-box">
          <div class="info-box__header">
            <p>{{ magazine.name }}</p>
            <p>Оценка: {{ magazine.get_rating }}</p>
            {% if magazine.get_discount > 0 %}
              <p>{{ magazine.price }} UAH</p>
              <p>{{ magazine.get_discount }}%</p>
              <p>{{ magazine.get_discounted_price }} UAH</p>
            {% else %}
              <p>{{ magazine.price }} UAH</p>
            {% endif %}
            <form action="{% url "cart:cart_add" magazine.id %}" method="post">
              {% csrf_token %}
              <button class="info-box__button" type="submit" value="Add to cart">В корзину</button>
            </form>
          </div>
          <div class="info-box__body">
            <h3>Описание</h3>
            <p> Издательство: {{ magazine.publisher }}</p>
            <p>Жанр:
              {% for genre in magazine.genre.all %}
                {{ genre }}
              {% endfor %}
            </p>
            <p> Год издания: {{ magazine.pub_year }} </p>
            <p> Количество страниц: {{ magazine.pages }}</p>
            <p> Твердый переплёт: {{ magazine.hard_cover }}</p>
            <p> Размер: {{ magazine.size }}</p>
          </div>
          <div class="info-box__bottom">
          </div>
        </div>
      </div>
    </div>
    <form action="{% url "reviews:product_reviews" magazine.slug %}?next={{ request.path|urlencode }}" method="post">
      {% csrf_token %}
      <button class="" type="submit" value="Add reviews">Оставить отзыв</button>
    </form>
    Отзывы({{ quantity_reviews }})
    {% for review in reviews_list %}
      <br>
      {{ review.user.first_name }}
      {{ review.user.last_name }}
      <br>
      {{ review.description }}
      <p>Коментарии()</p>
      {% for item in review.reviewcomment_set.values %}
        <p>{{ item.comment }}</p>
      {% endfor %}
      <form action="{% url "store:magazine_detail" magazine.slug %}" method="post">
        {% csrf_token %}
        <button class="" type="submit" name="reviews" value="{{ review.id }}">Оставить коментарий</button>
        {{ comment_form }}
      </form>
    {% endfor %}
  {% endif %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript">
      $("#dropdown-menu").on("click", () => {
          $("#side-nav").slideToggle(200);
          //     $('body').toggleClass('overlay');
      });
  </script>

{% endblock %}