<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static '/store/style.css' %}"/>
  <title>Home page</title>
</head>
<body>
<header>
  <div class="container">
    <div class="header-top-line">
      <div class="row">
        <div class="col-6"><a href="{% url 'store:index' %}">Logo</a></div>
        <div class="col-6 login-menu">
          <div class="cart">
            {% with total_items=cart_info|length %}
              {% if cart_info|length > 0 %}
                Your cart:
                <a href="{% url "cart:cart_detail" %}">
                  {{ total_items }} item{{ total_items|pluralize }},
                  {{ cart_info.get_total_price }} UAH
                </a>
              {% else %}
                Your cart is empty.
              {% endif %}
            {% endwith %}
          </div>
          {% if user.is_authenticated %}
            {% if perms.admin %}
              <a href="{% url 'store:product_manage' %}" class="">Управление товаром</a>
            {% endif %}
            <div class="avatar">
              <a href="{% url 'order:orders_list' %}">
                <div class="avatar__image">
                  {{ user.get_username|first|upper }}
                </div>
                {{ user.get_username }}
              </a>
            </div>
            <div><a href="{% url 'logout' %}?next={{ request.path }}">Выйти</a></div>
          {% else %}
            <div><a href="{% url 'login' %}?next={{ request.path }}">Войти</a></div>
            <div><a href="{% url 'profile:sign_up' %}?next={{ request.path }}">Регистрация</a></div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="header-bottom-line">
      <div class="row">
        <div class="col-12 col-md-3 col-xl-2 header-dropdown-menu">
          <span id="dropdown-menu">Каталог товаров</span>
        </div>
        <div class="col-12 col-md-7 col-xl-10 search-line">
          <form action="" class="search-form">
            <label class="">
              <input class="search-form__input" type="search" placeholder="Поиск">
            </label>
            <button class="search-form__button">Поиск</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    {% block sidebar %}
      {% include "navbar.html" %}
    {% endblock %}
    <div class="{% if is_shown_by_default %}col-12 {% else %} col-12 col-md-9 col-xl-10 center-wrapper {% endif %}">
      {% block content %}
      {% endblock %}
      {% block pagination %}
        {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
              <span class="page-current">
                    Страница {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
              {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
        {% endif %}
      {% endblock %}
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#side-nav  ul li').hover(
            function () {
                $('ul', this).stop().slideDown(400);
            },
            function () {
                $('ul', this).stop().slideUp(400);
            }
        );
    });

</script>
</body>
</html>
