<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}"/>
  <title>Home page</title>
</head>
<body>
<header>
  <div class="container">
    <nav class="navbar">
     Lorem ipsum dolor sit.
    </nav>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><a href="{% url 'store:index' %}">Каталог товаров</a></h2>
    </div>
  </div>
  <div class="row">
    <nav class="col-12 col-md-3 col-xl-2">
      <ul>
        <li><a href="{% url 'store:books' %}">Books</a></li>
        <li><a href="{% url 'store:magazine' %}">Magazine</a></li>
      </ul>
    </nav>
    <div class="col-12 col-md-9 col-xl-10">
      <div class="center-wrapper">
        <div class="catalog">
          {% block content %} {% endblock %}
          {% block pagination %}
            {% if is_paginated %}
              <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
              <span class="page-current">
                    Страница {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
              {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
              </div>
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
