<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}"/>
  <title>Home page</title>
</head>
<body>
<header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header-dropdown-menu">
          <button id="button-menu">Каталог товаров</button>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    {% block sidebar %}
      <nav class="col-12 col-md-3 col-xl-2 sidebar">
        <div id='side-nav' class="block_white block_shadow {% if is_shown_by_default %} side-nav-hide {% endif %}">
          <ul class="side-nav__list">
            <li class="side-nav__item"><a class="side-nav__link" href="{% url 'store:book_genres' %}">Книги</a>
              <ul class="sub-side-nav">
                <li class="sub-side-nav__item"><a class="sub-side-nav__link" href="">Детектив</a></li>
                <li class="sub-side-nav__item"><a class="sub-side-nav__link" href="">Мистика</a></li>
                <li class="sub-side-nav__item"><a class="sub-side-nav__link" href="">Программирование</a></li>
                <li class="sub-side-nav__item"><a class="sub-side-nav__link" href="">Триллер</a></li>
                <li class="sub-side-nav__item"><a class="sub-side-nav__link" href="">Ужасы</a></li>
                <li class="sub-side-nav__item"><a class="sub-side-nav__link" href="">Фантастика</a></li>
                <li class="sub-side-nav__item"><a class="sub-side-nav__link" href="">Фентази</a></li>
              </ul>
            </li>
            <li class="side-nav__item"><a class="side-nav__link" href="{% url 'store:magazine' %}">Журналы</a></li>
          </ul>
        </div>
      </nav>
    {% endblock %}
    <div class="{% if is_shown_by_default %} col-12 {% else %} col-12 col-md-9 col-xl-10 center-wrappe{% endif %}r">
      {% block content %}
        {% block pagination %}
          {% if is_paginated %}
            <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
              <span class="page-current">
                    Страница {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
              {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
            </div>
          {% endif %}
        {% endblock %}
      {% endblock %}
    </div>
  </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#side-nav  ul li').hover(
            function () {
                $('ul', this).stop().slideDown(400);
            },
            function () {
                $('ul', this).stop().slideUp(400);
            }
        );
    });
</script>
</body>
</html>
