{% extends "base_generic.html" %}

{% block content %}
  {% include "product_list.html" %}
  <div class="pagination">
          <span class="step-links">
              {% if product_list.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ product_list.previous_page_number }}">previous</a>
              {% endif %}

            <span class="current">
                  Page {{ product_list.number }} of {{ product_list.paginator.num_pages }}.
              </span>
            {% if product_list.has_next %}
              <a href="?page={{ product_list.next_page_number }}">next</a>
              <a href="?page={{ product_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
  </div>



{% endblock %}
