{% extends "base_generic.html" %}
{% block content %}

  <ul class="row no-gutters">
    {% for result in result_list %}
      <li class="col-12 col-sm-6 col-md-4 col-xl-4  catalog-item">
        <div class="catalog-item__img-wrapper">
          <img class="catalog-item__img" src="{{ result.image.url }}" alt="">
        </div>
        <div class="catalog-item__heading">
          {{ result.name }}12
          <p> Автор:
            {% for author in result.author.all %}
              {{ author }}
            {% endfor %}
          </p>
          <p>{{ result.price }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
