<nav class="col-12 col-md-3 col-xl-2 sidebar">
  <div id='side-nav' class="block_white block_shadow {% if is_shown_by_default %} side-nav-hide {% endif %}">
    <ul class="side-nav__list">
      <li class="side-nav__item"><a class="side-nav__link" href="{% url 'store:books' %}">Книги</a>
        <ul class="sub-side-nav">
          <li class="sub-side-nav__item"><a class="sub-side-nav__link" href="">Детектив</a></li>
          <li class="sub-side-nav__item"><a class="sub-side-nav__link" href="">Мистика</a></li>
          <li class="sub-side-nav__item"><a class="sub-side-nav__link" href="">Программирование</a></li>
          <li class="sub-side-nav__item"><a class="sub-side-nav__link" href="">Триллер</a></li>
          <li class="sub-side-nav__item"><a class="sub-side-nav__link" href="">Ужасы</a></li>
          <li class="sub-side-nav__item"><a class="sub-side-nav__link" href="">Фантастика</a></li>
          <li class="sub-side-nav__item"><a class="sub-side-nav__link" href="">Фентази</a></li>
        </ul>
      </li>
      <li class="side-nav__item"><a class="side-nav__link" href="{% url 'store:magazine' %}">Журналы</a></li>
    </ul>
    <form action="{% url "store:index2" genre %}"  method="post">
      {% csrf_token %}
      <ul> Автор:
        {% for author in author_list.all %}
          <li><label>
            <input type="checkbox" name="author" value={{ author.id }}> {{ author }}
          </label></li>
        {% endfor %}
      </ul>
      <ul> Жанр:
        {% for genre in genre_list.all %}
          <li><label>
            <input type="checkbox" name="genre" value={{ genre.id }}> {{ genre }}
          </label></li>
        {% endfor %}
      </ul>
      <button class="" type="submit" value="apply">Применить</button>
    </form>
  </div>
</nav>