{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Компоненты</a></li>
    <li class="breadcrumb-item"><a href="#">pdoTools</a></li>
    <li class="breadcrumb-item active">Парсер</li>
  </ol>
{% endblock %}
{% block content %}
  {% if product_list %}
    <div class="catalog  block_white">
      <div class="row product">
        <div class="col-12 col-md-6 product__picture-box">
          <div class="picture-box">
            <img class="picture-box__image" src="{{ product_list.image.url }}" alt="">
          </div>
        </div>
        <div class="col-12 col-md-6 product__info-box">
          <div class="info-box__header">
            <p>{{ product_list.name }}</p>
            {% for author in product_list.author.all %}
              {{ author }}
            {% endfor %}
          <div class="info-box__body">

          </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}
